body {
  margin: 0;
  background: var(--500);
  color: var(--100);
  font-family: "Neue Montreal", Roboto, Helvetica, sans-serif;

  @media (prefers-color-scheme: light) {
    background: var(--100);
    color: var(--400);
  }
}

@font-face {
  font-family: "Neue Montreal";
  src: url("./assets/fonts/PPNeueMontreal-Regular.otf") format("opentype");
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 0.3125rem;

  &-track {
    background: var(--400);
  }

  &-thumb {
    background: var(--200);

    &:hover {
      background: var(--accent);
    }
  }

  @media (prefers-color-scheme: light) {
    &-track {
      background: var(--200);
    }

    &-thumb {
      background: var(--400);

      &:hover {
        background: var(--500);
      }
    }
  }
}

/* SVGs and Icons */
svg {
  color: var(--150);

  @media (prefers-color-scheme: light) {
    color: var(--400);
  }
}

/** Inputs **/
input {
  &::placeholder {
    color: var(--200);

    @media (prefers-color-scheme: light) {
      color: var(--400);
    }
  }

  &:focus-visible {
    outline-style: none;
    border-color: var(--100);

    @media (prefers-color-scheme: light) {
      outline-style: solid;
      border-color: var(--500);
    }
  }

  &[type="text" i] {
    transition: all 0.3s ease-in-out;
    border: 0.125rem solid var(--300);
    background: transparent;
    padding: 0 0.3125rem 0 0.625rem;
    color: var(--150);

    @media (prefers-color-scheme: light) {
      transition: all 0.3s ease-in-out;
      border: 2px solid var(--300);
      color: var(--400);
    }
  }
}

/* Buttons */
button {
  &:hover,
  &:active {
    cursor: pointer;
    filter: brightness(1.1);
  }

  &:hover {
    @media (prefers-color-scheme: light) {
      filter: contrast(1.2);
    }
  }

  &:active {
    transform: translateY(1px);
  }
}

/* Links and Buttons */
a,
svg {
  &:hover {
    transition: all 0.3s ease-in-out;
    color: var(--accent);
  }

  &:active {
    transform: translateY(1px);
  }
}

*:any-link,
a:any-link {
  text-decoration: none;
  color: inherit;
}

a:hover {
  cursor: pointer;
}

// * Text Styles **/
h1 {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 700;
}

h2 {
  text-align: center;
  font-size: 2.75rem;
  font-weight: 700;
}

h3 {
  font-size: 2.25rem;
  font-weight: 700;
}

h4 {
  font-size: 1.75rem;
  font-weight: 700;
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
}

h5 {
  font-size: 1.5rem;
  font-weight: 500;
}

p {
  font-size: 1.2rem;
  margin-block-start: 0.1rem;
  margin-block-end: 0.1rem;
}

li {
  text-align: left;
  font-size: 1.2rem;
}

strong {
  background: linear-gradient(135deg, #ffd78a, #dfaf71);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;

  @media (prefers-color-scheme: light) {
    background: transparent;
    background-clip: unset;
    color: var(--400);
    -webkit-text-fill-color: var(--400);
  }
}

.noselect {
  user-select: none;
  cursor: pointer;
}

/* Media Queries */
@media (prefers-color-scheme: light) {
  h1,
  h2,
  h3 {
    color: var(--500);
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  p,
  li {
    font-size: 1rem;
  }
}
