@use './mixins' as *;

:root {
  --100: hsl(42deg 36% 89%);
  --150: hsl(40deg 8% 77%);
  --200: hsl(7deg 8% 61%);
  --300: hsl(35deg 12% 39%);
  --400: hsl(33deg 15% 25%);
  --500: hsl(30deg 10% 16%);
  --accent: hsl(37deg 100% 73%);
  --patreon: hsl(10deg 100% 72%);
  --free: hsl(150deg 100% 73%);
  --discord: hsl(235deg 100% 74%);

  @media (prefers-color-scheme: light) {
    --accent: #d7b24b;
    --discord: #4d5c93;
    --patreon: #cc4122;
    --free: #26ab69;
  }
}

/** Status Colours **/
.paidea {
  color: var(--accent);
  text-decoration-color: var(--accent);
}

.paid {
  color: var(--patreon);
  text-decoration-color: var(--patreon);
}

.free {
  color: var(--free);
  text-decoration-color: var(--free);
}

.paidea-background {
  border-color: var(--accent);
  background: var(--accent);
}

.paid-background {
  border-color: var(--patreon);
  background: var(--patreon);
}

.free-background {
  border-color: var(--free);
  background: var(--free);
}

.github-background {
  background: var(--discord);
}

/* Animation */
@keyframes bob {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
