@use '../helpers/mixins' as *;

.button-hollow {
  display: inline-flex;
  flex-flow: column wrap;
  align-content: stretch;
  justify-content: center;
  border: 3px solid var(--500);
  width: 179px;
  height: 52px;
  text-align: center;

  &:hover {
    border-color: var(--400);
    cursor: default;
    color: var(--400);
  }

  h4 {
    @include remove-margin;

    font-weight: bold;
  }
}