@use '../helpers/mixins' as *;

.button-hollow {
  width: 179px;
  height: 52px;

  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-content: stretch;

  border: 3px solid var(--500);

  &:hover {
    border-color: var(--400);
    color: var(--400);
    cursor: default;
  }

  h4 {
    @include remove-margin();
    font-weight: bold;
  }
}