/* Hollow Card used in Module Grid */
.card-hollow {
  display: flex;
  position: relative;
  flex-flow: row nowrap;
  gap: 0.75rem;
  align-content: center;
  align-items: stretch;
  justify-content: flex-start;
  transition: all 0.1s ease-in-out;
  border: 0.125rem solid var(--300);
  box-shadow: 0.4375rem 0.4375rem var(--500),
    0.4375rem 0.4375rem 0 0.125rem var(--400);
  width: 480px;
  height: 176px;
  max-height: 176px;

  &:hover {
    border-color: var(--200);
    cursor: pointer;
  }

  h4 {
    padding-top: 20px;
    color: var(--100);
    font-size: 1.5rem;
    margin-block-start: 0;
    margin-block-end: 0.25rem;
  }

  p {
    font-size: 1.15rem;
  }

  svg {
    align-self: center;
    color: var(--100);
  }

  article {
    max-width: 95%;
  }

  .icon-wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    min-width: 5%;
    max-width: 12%;
  }

  .info-wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .status {
    padding: 0 0.75rem 0.5rem 0;
    text-align: right;
    font-size: 1rem;
    font-weight: 500;
  }

  footer {
    display: flex;
    align-items: flex-end;
    width: 100%;
  }

  @media (prefers-color-scheme: light) {
    transition: all 0.3s ease-in-out;
    box-shadow: 0.4375rem 0.4375rem var(--100),
      0.4375rem 0.4375rem 0 0.125rem var(--200);
    background: var(--100);
  }

  @media (prefers-color-scheme: light) {
    & svg,
    & h4 {
      color: var(--400);
    }
  }
}

/** Screen Sizing **/
@media screen and (max-width: 1200px) {
  .card-hollow {
    position: relative;
    gap: 0.75rem;
    max-width: 100%;
  }
}

@media screen and (max-width: 1020px) {
  .card-hollow,
  .module .grid .wrapper {
    width: 95%;
  }

  .module .grid .wrapper {
    display: flex;
    justify-content: center;
  }

  .card-hollow {
    h4 {
      font-size: 1.5rem;
    }

    p {
      font-size: 1.15rem;
    }

    .icon-wrapper {
      margin: 0;
      padding: 2rem;
      width: auto;
      height: auto;

      .fa-5x {
        font-size: 3.5rem;
      }
    }

    .status {
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 768px) {
    .card-hollow {
      h4 {
        font-size: 1.25rem;
      }

      p {
        font-size: 0.9rem;
      }

      .icon-wrapper {
        margin: 0;
        padding: 1rem;
        width: auto;
        height: auto;
      }

      .fa-5x {
        font-size: 4rem;
      }

      .status {
        font-size: 0.9rem;
      }
    }
  }

  @media screen and (max-width: 450px) {
    .card-hollow {
      h4 {
        font-size: 1.33rem;
      }

      p {
        font-size: 1rem;
      }

      .icon-wrapper {
        padding: 30px;

        .fa-5x {
          font-size: 3.5rem;
        }
      }

      .status {
        font-size: 0.9rem;
      }
    }
  }
}
