nav {
  position: fixed;
  z-index: 3;
  min-height: 5%;
  width: 100%;

  display: flex;
  justify-content: space-between;

  background: hsla(34, 9%, 16%, 0.25);
  color: var(--300);
  box-shadow: 0 5px 5px hsla(34, 11%, 12%, 0.25);
  backdrop-filter: blur(1px);

  /** Links **/
  .links {
    color: var(--100);
    display: flex;
    padding: 6px;
    width: 100%;

    .landing,
    .subpage {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      align-items: center;

      & a:visited,
      & .socials svg {
        color: var(--100);
      }

      & a {
        &:hover {
          cursor: pointer;
          color: var(--000);
          transition: all 0.3s ease-in-out;
        }

        &:active {
          color: var(--000);
          cursor: pointer;
          transform: translateY(0.0625rem);
        }
      }
    }

    .landing {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: flex-start;
      justify-content: center;
      align-items: center;
    }
  }

  .socials {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    width: 100%;

    svg {
      color: var(--100);
      padding: 2px;

      &:hover {
        color: var(--000);
      }

      &:active {
        color: var(--000);
        transform: translateY(0.0625rem);
      }
    }
  }

}

//* Hamburger Menu
.home-buttons {
  display: flex;
  align-items: center;
}

// Hamburger Menu Icon
.hamburger {
  position: relative;
  z-index: 1000;

  p {
    display: none;
  }
}

.hamburger-menu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  background: linear-gradient(90deg,
      hsla(30, 10%, 16%, 1) 0%,
      hsla(30, 10%, 16%, 0.75) 75%,
      hsla(30, 10%, 16%, 0.5) 100%);
  backdrop-filter: blur(2px);

  .links,
  .links .landing,
  .links .subpage,
  .links .landing .home-buttons,
  .links .subpage .home-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;

    text-align: left;
    font-size: 3rem;
    animation: fadeInAnimation ease 0.5s;
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    text-align: left;
    font-size: 3rem;
    animation: fadeInAnimation ease 0.5s;
  }

  .socials {
    justify-content: center;
  }

  &.hidden {
    display: none;
  }

  @media (prefers-color-scheme: light) {
    background: hsla(30, 10%, 16%, 0.66);

    .links {
      p {
        color: var(--200);
      }

      a:visited {
        color: var(--100);
      }

      .landing a,
      .subpage a,
      .socials svg {
        color: var(--100);
        transition: color 0.3s ease-in-out;

        &:hover {
          color: var(--200);
        }
      }
    }
  }
}

.hamburger-toggle {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.svg-inline--fa.fa-bars.fa-fw.fa-xl {
  color: var(--100);
}