.card-solid {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;

  max-width: 50vw;

  border-right: 0.125rem solid var(--300);
  border-bottom: 0.125rem solid var(--300);
  border-left: 0.125rem solid var(--300);
  transition: all 0.3s ease-in-out;
  
}

.card-solid header {
  width: 100%;
  border: 0.125rem;
}

.card-solid h1,
.card-solid h2,
.card-solid h3 {
  width: 100%;
  padding: 0;
  margin: 0;

  text-align: center;
  color: var(--500);
}

.card-solid p {
  width: auto;
  text-align: justify;
  padding: 2rem;
}

.card-solid button {
  border: 1px solid transparent;

  font-size: 1rem;
  font-weight: bold;

  width: 7.8125rem;
  height: 2.5rem;
  margin: 0.5rem;

  transition: all 0.3s ease-in-out;
}

@media (prefers-color-scheme: light) {
  .card-solid {
    border-color: var(--500);
    color: var(--500);
  }
  .card-solid h1 {
    background-color: var(--500);
    color: var(--100);
  }
}



@media screen and (max-width: 600px) {
  .card-solid {
    height: auto;
    max-width: max-content;
  }

  .card-solid h1 {
    max-width: 100%;
  }

  .card-solid p {
    max-width: max-content;
    padding: 0.5rem;
  }
}
