.card-solid {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;

  background: hsla(30, 10%, 16%, 0.15);
  backdrop-filter: blur(5px);

  border: 2px solid var(--300);
}

.card-solid header,
.card-solid summary {
  width: 100%;
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.card-solid header {
  border: 2px solid transparent;
}

.card-solid h1,
.card-solid h2,
.card-solid h3,
.card-solid h4 {
  margin: 0;
  padding: 0.5rem 0.1rem;
  color: var(--500);
}

.card-solid .basic-background h1,
.card-solid .basic-background h2,
.card-solid .basic-background h3,
.card-solid .basic-background h4 {
  color: var(--100);
}

.card-solid p {
  padding: 0.5rem 1rem;
}

.card-solid button {
  border: 1px solid transparent;

  font-size: 1rem;
  font-weight: bold;

  width: 7.8125rem;
  height: 2.5rem;
  margin: 0.5rem;

  transition: all 0.3s ease-in-out;
}

.card-solid svg {
  color: var(--500);
}

.card-solid svg:hover {
  color: var(--400);
}

.faq .card-solid p {
  text-align: center;
}

@media (prefers-color-scheme: light) {
  .card-solid {
    border-color: var(--500);
    color: var(--500);
    background: hsla(42, 36%, 89%, 0.15);
  }

  .card-solid .paid-background,
  .card-solid .paidea-background,
  .card-solid .free-background {
    border-color: var(--500) !important;
  }

  .card-solid header,
  .card-solid summary {
    background-color: var(--500);
    color: var(--100);
    border-color: var(--500);
  }

  .card-solid h1,
  .card-solid h2,
  .card-solid h3,
  .card-solid h4 {
    color: var(--100);
  }

  .card-solid p {
    color: var(--500);
    text-shadow: 0 0 20 var(--400);
    text-align: center;
  }

  .card-solid svg,
  .card-solid header svg {
    color: var(--100);
  }

  .card-solid svg:hover {
    color: var(--200);
  }

  .card-solid button {
    background: transparent;
    border: 2px solid var(--400);
    color: var(--500);
  }

  .card-solid button:hover {
    background: var(--500);
    border: 2px solid var(--500);
    color: var(--100);
  }

  .card-solid button:active {
    filter: contrast(0.8);
  }
}

@media screen and (max-width: 800px) {
  .card-solid {
    backdrop-filter: none;
  }
}
