/* Hollow Card used in Module Grid */
.card-hollow {
  position: relative;
  width: 480px;
  height: 176px;
  max-height: 176px;

  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: center;
  flex-direction: row;
  flex-wrap: nowrap;

  gap: 0.75rem;
  border: 0.125rem solid var(--300);
  box-shadow: 0.4375rem 0.4375rem var(--500),
    0.4375rem 0.4375rem 0 0.125rem var(--400);
  transition: all 0.1s ease-in-out;
}

.card-hollow:hover {
  border-color: var(--200);
  cursor: pointer;
}

.card-hollow .icon-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  min-width: 5%;
  max-width: 12%;
}

.card-hollow svg {
  align-self: center;
  color: var(--100);
}

.card-hollow .info-wrapper {
  position: relative;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-hollow article {
  max-width: 95%;
}

.card-hollow h4 {
  margin-block-start: 0;
  margin-block-end: 0.25rem;
  padding-top: 20px;
  font-size: 1.5rem;
  color: var(--100);
}

.card-hollow p {
  font-size: 1.15rem;
}

.card-hollow .status {
  text-align: right;
  font-size: 1rem;
  font-weight: 500;
  padding: 0 0.75rem 0.5rem 0;
}

@media (prefers-color-scheme: light) {
  .card-hollow {
    background: var(--100);
    box-shadow: 0.4375rem 0.4375rem var(--100),
      0.4375rem 0.4375rem 0 0.125rem var(--200);
    transition: all 0.3s ease-in-out;
  }

  .card-hollow svg,
  .card-hollow h4 {
    color: var(--400);
  }
}

/** Screen Sizing **/
@media screen and (max-width: 1200px) {
  .card-hollow {
    position: relative;
    max-width: 100%;
    gap: 0.75rem;
  }

  section#hub .card-hollow {
    gap: 0;
    width: 50%;
    min-height: 25%;
  }
}

@media screen and (max-width: 1020px) {
  .card-hollow,
  .module .grid .wrapper {
    width: 95%;
  }

  .module .grid .wrapper {
    display: flex;
    justify-content: center;
  }

  .card-hollow .icon-wrapper {
    width: auto;
    height: auto;
    margin: 0;
    padding: 2rem;
  }

  .card-hollow .icon-wrapper .fa-5x {
    font-size: 3.5rem;
  }

  .card-hollow h4 {
    font-size: 1.5rem;
  }

  .card-hollow p {
    font-size: 1.15rem;
  }

  .card-hollow .status {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .card-hollow .icon-wrapper {
    width: auto;
    height: auto;
    margin: 0;
    padding: 1rem;
  }

  .card-hollow .icon-wrapper .fa-5x {
    font-size: 4rem;
  }

  .card-hollow h4 {
    font-size: 1.25rem;
  }

  .card-hollow p {
    font-size: 0.9rem;
  }

  .card-hollow .status {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 450px) {
  .card-hollow .icon-wrapper {
    padding: 30px;
  }

  .card-hollow .icon-wrapper .fa-5x {
    font-size: 3.5rem;
  }

  .card-hollow h4 {
    font-size: 1.33rem;
  }

  .card-hollow p {
    font-size: 1rem;
  }

  .card-hollow .status {
    font-size: 0.90rem;
  }
}
