.troubleshooting-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.troubleshooting-wrapper .wrapper {
  cursor: pointer;
  position: relative;
}

.troubleshooting-wrapper svg {
  position: absolute;
  left: 1rem;
}

.troubleshooting-container {
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.connection {
  height: 3rem;
  width: 1rem;
  position: absolute;
  top: 100%;
  left: 50%;
}