@use '../helpers/mixins' as *;

/* Call to Action / Subscribe */
#hub {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-content: center;
  justify-content: space-around;
  background: var(--500);
  background-image: url('/src/public/images/wave.svg');
  background-position: center;
  background-size: cover;
  padding: 160px 80px;

  @media (max-width: 1200px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @media (prefers-color-scheme: light) {
    background: var(--100);
    background-image: url('/src/assets/wave.svg');
    background-size: cover;
  }
}

.card-cta {

  @include cta-status('patreon', var(--patreon), #eeafa1);
  @include cta-status('hub', var(--accent), #e9c359);
  @include cta-status('discord', var(--discord), #a1a9ee);

  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  border: 2px solid var(--300);
  box-shadow: 7px 7px var(--500), 7px 7px 0 2px var(--400);
  background: var(--500);
  padding: 12px 26px;
  width: clamp(150px, 400px, 80%);
  min-height: 50vh;

  h2 {
    @include remove-margin;

    text-align: center;
    font-size: 3rem;
    font-weight: bold;
  }

  h4 {
    @include remove-margin;

    text-align: center;
    font-weight: 550;
  }

  button {
    transition: all 0.3s ease-in-out;
    margin-bottom: 1rem;
    border-radius: 1px;
    background: var(--500);
    width: 125px;
    height: 40px;
    color: var(--100);
    font-size: 1rem;
    font-weight: bold;

    &.patreon {
      border: 2px solid var(--patreon);

      &:hover {
        background: var(--patreon);
        color: var(--500);
      }

      &:active {
        transform: translateY(2px);
        background: var(--patreon);
        color: var(--500);
        filter: brightness(1.1);
      }
    }

    &.hub {
      border: 2px solid var(--accent);

      &:hover {
        background: var(--accent);
        color: var(--500);
      }

      &:active {
        transform: translateY(2px);
        background: var(--accent);
        color: var(--500);
        filter: brightness(1.1);
      }
    }

    &.discord {
      border: 2px solid var(--discord);

      &:hover {
        background: var(--discord);
        color: var(--500);
      }

      &:active {
        transform: translateY(2px);
        background: var(--discord);
        color: var(--500);
        filter: brightness(1.1);
      }
    }

    @media (prefers-color-scheme: light) {
      border-color: var(--400);
      box-shadow: 2px 2px 0 var(--400);
      background: var(--100);
      color: var(--400);

      .patreon {
        &:hover {
          border-color: var(--patreon);
          box-shadow: 2px 2px 0 var(--patreon);
          background-color: transparent;
          filter: contrast(1.2);
        }

        &:active {
          box-shadow: 1px 1px 0 var(--patreon) inset;
          background-color: transparent;
          filter: brightness(1);
        }
      }

      .hub {
        &:hover {
          border-color: var(--accent);
          box-shadow: 2px 2px 0 var(--accent);
          background-color: transparent;
          filter: brightness(1);
        }

        &:active {
          box-shadow: 1px 1px 0 var(--accent) inset;
          background-color: transparent;
          filter: brightness(1);
        }
      }

      .discord {
        &:hover {
          border-color: var(--discord);
          box-shadow: 2px 2px 0 var(--discord);
          background-color: transparent;
          filter: brightness(1);
        }

        &:active {
          box-shadow: 1px 1px 0 var(--discord) inset;
          background-color: transparent;
          filter: brightness(1);
        }
      }
    }
  }

  summary {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 100%;

    ul {
      align-self: flex-start;
      padding-right: 0.625rem;
      max-width: fit-content;
      font-size: 1.25rem;
      font-weight: 400;
    }

    li {
      margin: 0.1rem 0 1.1rem;
    }
  }
}
