/* Modulegrid Section */
section#modules {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  background: var(--500);
  background: linear-gradient(
    180deg,
    hsl(30deg 10% 16% / 75%) 0%,
    hsl(30deg 10% 16% / 80%) 3%,
    hsl(30deg 10% 16% / 90%) 5.5%,
    var(--500) 10%
  );
  padding-top: 2rem;

  .grid {
    display: flex;
    position: relative;
    flex-flow: row wrap;
    gap: 1.875rem;
    align-content: space-between;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 1rem;
    padding-top: 3rem;

    .wrapper {
      min-height: unset;
    }

    @media (max-width: 768px) {
      .wrapper {
        width: 100%;
      }
    }
  }

  @media (prefers-color-scheme: light) {
    background: var(--100);
  }
}

.searchbar {
  position: relative;

  input[type='text' i] {
    width: 90vw;
    height: 36px;
  }

  button {
    position: absolute;
    right: 8px;
    border: 0.0625rem solid transparent;
    background: transparent;
    height: 100%;

    &:active {
      transform: translateY(0.0625rem);
    }

    svg {
      color: var(--100);

      @media (prefers-color-scheme: light) {
        color: var(--400);
      }
    }
  }

  .button-paid svg {
    color: var(--patreon);
  }

  .button-free svg {
    color: var(--free);
  }
}
