/* Modulegrid Section */
section#modules {
  display: flex;
  padding-top: 2rem;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: var(--500);
  background: linear-gradient(
    180deg,
    hsla(30, 10%, 16%, 0.75) 0%,
    hsla(30, 10%, 16%, 0.8) 3%,
    hsla(30, 10%, 16%, 0.9) 5.5%,
    var(--500) 10%
  );

  @media (prefers-color-scheme: light) {
    background: var(--100);
  }

  .grid {
    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    align-items: center;
    justify-items: center;

    padding: 1rem;
    gap: 1.875rem;
    padding-top: 3rem;

    .wrapper {
      min-height: unset;
    }

    @media (max-width: 768px) {
      .wrapper {
        width: 100%;
      }
    }
  }
}

.searchbar {
  position: relative;

  input[type='text' i] {
    width: 90vw;
    height: 36px;
  }

  button {
    position: absolute;
    right: 8px;
    height: 100%;
    border: 0.0625rem solid transparent;
    background: transparent;

    &:active {
      transform: translateY(0.0625rem);
    }

    svg {
      color: var(--100);

      @media (prefers-color-scheme: light) {
        color: var(--400);
      }
    }
  }

  .button-paid svg {
    color: var(--patreon);
  }

  .button-free svg {
    color: var(--free);
  }
}
