/* Call to Action / Subscribe */
#hub {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: stretch;
  justify-content: center;
  gap: 152px;
  padding: 160px 0px;

  background: var(--500);
  background-image: url('/src/assets/wave.svg');
  background-size: cover;
  background-position: center;
}

.card-cta {
  display: flex;
  padding: 12px 26px;
  min-height: 60vh;
  min-width: 20%;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;

  background: var(--500);
  border: 2px solid var(--300);
  box-shadow: 7px 7px var(--500),
    7px 7px 0 2px var(--400);
}

.card-cta .patreon:hover {
  cursor: default;
  border: 2px solid var(--patreon);
  box-shadow: 0 0 3px var(--patreon), 
    7px 7px var(--500),
    7px 7px 0 2px var(--400);
}

.card-cta .hub:hover {
  cursor: default;
  border: 2px solid var(--accent);
  box-shadow: 0 0 3px var(--accent), 
    7px 7px var(--400),
    7px 7px 0 2px var(--400);
}

.card-cta .discord:hover {
  cursor: default;
  border: 2px solid var(--discord);
  box-shadow: 0 0 3px var(--discord), 
    7px 7px var(--500),
    7px 7px 0 2px var(--400);
}

/* Text */
.cta summary {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cta summary ul {
  max-width: fit-content;
  align-self: flex-start;
  font-size: 1.25rem;
  font-weight: 400;
  padding-right: .625rem;
}

.cta summary li {
  margin: .1rem 0 1.1rem 0;
}

.cta h2 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
  text-align: center;
  font-size: 3rem;
}

.cta .patreon h2,
.cta .patreon summary li::marker {
  color: var(--patreon);
}

.cta .discord h2,
.cta .discord summary li::marker {
  color: var(--discord);
}

.cta .hub h2,
.cta .hub summary li::marker {
  color: var(--accent);
}

.cta h4 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: 550;
  text-align: center;
}

/* Buttons */
.cta button {
  color: var(--100);
  background: var(--500);
  border: 1px solid transparent;

  font-size: 1rem;
  font-weight: bold;
  border-radius: 1px;

  width: 125px;
  height: 40px;
  margin-bottom: 1rem;

  transition: all 0.3s ease-in-out;
}

.cta .discord button {
  border: 2px solid var(--discord);
}

.cta .discord button:hover {
  color: var(--500);
  background: var(--discord);
}

.cta .discord button:active {
  color: var(--500);
  background: var(--discord);
  filter: brightness(1.1);
  transform: translateY(2px);
}

.cta .patreon button {
  border: 2px solid var(--patreon);
}

.cta .patreon button:hover {
  color: var(--500);
  background: var(--patreon);
}

.cta .patreon button:active {
  color: var(--500);
  background: var(--patreon);
  filter: brightness(1.1);
  transform: translateY(2px);
}

.cta .hub button {
  border: 2px solid var(--accent);
}

.cta .hub button:hover {
  color: var(--500);
  background: var(--accent);
}

.cta .hub button:active {
  color: var(--500);
  background: var(--accent);
  filter: brightness(1.1);
  transform: translateY(2px);
}

/** Media Queries **/
/* Light Mode */
@media (prefers-color-scheme: light) {
  /* Body (Light) */
  #hub {
    background: var(--100);
    background-image: url('/src/assets/wave.svg');
    background-size: cover;
  }

  .cta .card-cta {
    background: var(--100);
    box-shadow: 7px 7px var(--100),
      7px 7px 0 .0625rem var(--200);
  }

  .cta .patreon:hover {
    box-shadow: 0 0 0px var(--patreon), 
      7px 7px 0 var(--100),
      7px 7px 0 1px var(--patreon);
    border-color: var(--patreon);
  }

  .cta .discord:hover {
    box-shadow: 0 0 0px var(--discord), 
      7px 7px 0 var(--100),
      7px 7px 0 1px var(--discord);
    border-color: var(--discord);
  }

  .cta .hub:hover {
    background: var(--100);
    box-shadow: 0 0 0 var(--accent), 
      7px 7px 0 var(--100),
      7px 7px 0 1px var(--accent);
    border-color: var(--accent);
  }

  /* Text (Light) */
  .cta .patreon h2 {
    filter: drop-shadow(.125rem .125rem 0rem #eeafa1);
  }

  .cta .hub h2 {
    filter: drop-shadow(.125rem .125rem 0rem #e9c359);
  }

  .cta .discord h2 {
    filter: drop-shadow(.125rem .125rem 0rem #a1a9ee);
  }

  /* Buttons (Light) */
  .cta .card-cta button {
    background: var(--100);
    color: var(--400);
  }

  .cta .card-cta button {
    border-color: var(--400);
    box-shadow: 2px 2px 0 var(--400);
  }

  .cta .patreon button:hover {
    background-color: transparent;
    filter: contrast(1.2);
    border-color: var(--patreon);
    box-shadow: 2px 2px 0 var(--patreon);
  }

  .cta .discord button:hover {
    background-color: transparent;
    filter: brightness(1);
    border-color: var(--discord);
    box-shadow: 2px 2px 0 var(--discord);
  }

  .cta .hub button:hover {
    background-color: transparent;
    filter: brightness(1);
    border-color: var(--accent);
    box-shadow: 2px 2px 0 var(--accent);
  }

  .cta .patreon button:active {
    background-color: transparent;
    filter: brightness(1);
    box-shadow: 1px 1px 0 var(--patreon) inset;
  }

  .cta .discord button:active {
    background-color: transparent;
    filter: brightness(1);
    box-shadow: 1px 1px 0 var(--discord) inset;
  }

  .cta .hub button:active {
    background-color: transparent;
    filter: brightness(1);
    box-shadow: 1px 1px 0 var(--accent) inset;
  }
}

/** Screen Sizing **/
@media screen and (max-width: 75rem) {
  .cta {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    gap: 9.5rem;
    background-size: cover;
    align-content: center;
  }
}

@media screen and (max-width: 62.4375rem) {
  .cta {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    gap: 80px;
    background-size: cover;
    align-content: center;
  }

  .card-cta {
    min-width: 50%;
  }
}

@media screen and (max-width: 28.125rem) {
  .cta {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    gap: 80px;
    background-size: cover;
    align-content: center;
  }

  .card-cta {
    max-width: 75%;
  }

  .card-cta h2 {
    font-size: 40px;
  }

  .card-cta h4 {
    font-size: 20px;
  }

  .cta summary ul {
    padding-right: 0;
    padding-left: 16px;
  }

  .cta summary li {
    font-size: 17.6px;
  }
}
