/* Modulegrid Section */
section#modules {
  min-height: 100vh;
  display: flex;
  padding-top: 2rem;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: var(--500);
  background: linear-gradient(
    180deg,
    hsla(30, 10%, 16%, 0.75) 0%,
    hsla(30, 10%, 16%, 0.8) 3%,
    hsla(30, 10%, 16%, 0.9) 5.5%,
    var(--500) 10%
  );
}

.module .grid input[type='text' i] {
  width: 78vw;
  height: 36px;
}

.searchbar {
  position: relative;
}

.searchbar button {
  position: absolute;
  right: 8px;
  height: 100%;
  border: 0.0625rem solid transparent;
  background: transparent;
}

.searchbar button:active {
  transform: translateY(0.0625rem);
}

.searchbar button svg {
  color: var(--100);
}

.searchbar .button-paid svg {
  color: var(--patreon);
}

.searchbar .button-free svg {
  color: var(--free);
}

.module .grid {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1.875rem;
  padding-top: 3rem;
  align-content: space-between;
  justify-content: center;
  align-items: center;
  justify-items: center;
  flex-direction: row;
}

/* Light Mode */
@media (prefers-color-scheme: light) {
  section#modules {
    background: var(--100);
    background: linear-gradient(
      180deg,
      hsla(42, 36%, 89%, 0.5) 0%,
      hsla(42, 36%, 89%, 0.75) 3%,
      hsla(42, 36%, 89%, 0.9) 5.5%,
      var(--100) 10%
    );
  }

  .searchbar button svg {
    color: var(--400);
  }
}
