/* Page-wide and sections */
.install {
  display: flex;
  flex-direction: column;

  main {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: center;
  }

  &.subpage-container {
    padding: 0 10vw;
    min-height: 100vh;
  }

  .intro {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
  }

  .free-installation,
  .patreon-installation {
    display: flex;
    align-content: center;
    flex-flow: column wrap;
    height: auto;
    align-items: center;
    width: 50%;

    h2 {
      text-decoration: underline;
      text-decoration-style: dashed;
    }
  }

  .free-installation {
    h2 {
      text-decoration-color: var(--free);
    }
  }

  .patreon-installation {
    h2 {
      text-decoration-color: var(--patreon);
    }
  }

  .card-wrapper {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 1rem;
  }

  .card-solid {
    details {
      width: 100%;
    }

    summary {
      font-size: 1.5rem;
      color: var(--500);

      &:hover {
        cursor: pointer;
      }
    }

    li {
      padding: 0.25rem 1.5rem;
      text-align: left;

      &::marker {
        color: var(--300);
      }
    }

    &.free-border {
      border-color: var(--free);
      width: 100%;
    }

    &.paid-border {
      border-color: var(--patreon);
      width: 100%;
    }

    @media (prefers-color-scheme: light) {
      header {
        color: var(--500);
      }

      summary {
        color: var(--100);
      }

      .free-background,
      .paid-background,
      &.free-border,
      &.paid-border {
        border: 1px solid var(--500);
      }
    }
  }
}

/* Screen Sizing */
@media screen and (max-width: 768px) {
  .install main {
    flex-flow: column wrap;
  }

  .install .card-wrapper {
    width: 80vw;
    padding: 1rem;
  }

  .install li {
    padding: 0.1rem 1.5rem;
    font-size: 1.25rem;
  }
}
