.subpage-container {
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.issues {
  li {
    padding: 0.25rem;

    &::marker {
      color: var(--accent);
    }
  }

  .report-form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: left;

    ol {
      min-width: 80%;
    }

    li {
      line-height: 2;
    }

    input[type='text' i] {
      width: 92%;
      min-height: 30px;
      padding-left: 5px;
      color: var(--150);
    }

    input[type='checkbox' i] {
      transform: scale(1.2);
      margin: 0 0.33rem;
    }

    
    textarea {
      min-height: 250px;
      min-width: 93.5%;
      resize: none;
      
      background: transparent;
      border-color: var(--300);
      color: var(--100);
    }
    
    footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        text-align: center;
      }
    }

    @media (prefers-color-scheme: light) {
      input[type='text' i] {
        width: 92%;
        min-height: 30px;
        padding-left: 5px;
        color: var(--500);
      }

      textarea {
        color: var(--500);
      }

      p {
        color: var(--patreon);
        background: transparent;
      }
    }

  }
}

#submit-bug {
  min-width: 250px;
  background: var(--accent);
  align-self: center;

  &:disabled {
    background: var(--200);

    &:hover {
      cursor: not-allowed;
    }
  }

  @media (prefers-color-scheme: light) {
    background: var(--500);
    color: var(--100);

    &:disabled {
      background: var(--150);
      color: var(--300);
      border-color: var(--300);
    }
  }
}