.troubleshooting {
  h1 {
    margin-block-end: 0;
  }

  svg {
    opacity: 1;

    &.svg-inline--fa.fa-arrow-down.connection.free {
      height: 3rem;
      width: 1rem;
      position: absolute;
      top: 100%;
      left: calc(50% - 0.4rem);
      align-self: center;
    }

    &.svg-inline--fa.fa-arrow-down.connection.inactive {
      opacity: 0;
    }
  }

  .card-solid {
    border-top: none;
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    svg {
      position: absolute;
      left: 1rem;
    }

    .wrapper {
      cursor: pointer;
      position: relative;

      &:last-child .connection {
        display: none;
        height: 0;
      }
    }
  }

  &-container .checkmark {
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .paid-background,
  .free-background {
    transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out;
  }

  .step6 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;

    .card-solid {
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (max-width: 1200px) {
  .step6 {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .troubleshooting-wrapper h4 {
    font-size: 1.25rem;
  }

  .troubleshooting-wrapper .fa-2x {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 450px) {
  .troubleshooting h1 {
    font-size: 2rem;
  }

  .troubleshooting-wrapper .fa-2x {
    display: none;
  }
}