/* Page-wide and sections */
.install {
  display: flex;
  flex-direction: column;
}

.install main {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
}

/* Subsections */
/* Page Header */
.install .intro {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.install .intro h3 {
  margin-block-start: 4rem;
  margin-block-end: 0;
}
/* Instruction Sections */
.install .free-installation,
.install .patreon-installation {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  height: auto;
  align-items: center;
  width: 50%;
}

.install .free-installation h2,
.install .patreon-installation h2 {
  text-decoration: underline;
  text-decoration-style: dashed;
}

.install .free-installation h2 {
  text-decoration-color: var(--free);
}


.install .patreon-installation h2 {
  text-decoration-color: var(--patreon);
}

.install .card-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 1rem;
}
/* Card Styling */
.install .card-solid {
  border: 4px solid var(--400);
}

.install .card-solid details {
  width: 100%;
}

.install .card-solid summary {
  font-size: 1.5rem;
  color: var(--500);
}
.install li::marker {
  color: var(--300);
}

.install .card-solid.free-border {
  border-color: var(--free);
}

.install .card-solid.paid-border {
  border-color: var(--patreon);
}

@media (prefers-color-scheme: light) {
  .install header {
    color: var(--500);
  }
  .install .card-solid details {
    color: var(--500);
  }
  .install .card-solid summary {
    color: var(--100);
  }

  .install .card-solid .free-background,
  .install .card-solid .paid-background,
  .install .card-solid.free-border,
  .install .card-solid.paid-border {
    border-color: var(--500);
  }
}
