/** Global Styles **/
body {
  --000: #ffcb77;
  --100: #ede7d9;
  --150: #c8c5bf;
  --200: #a49694;
  --300: #6f6557;
  --400: #4b4237;
  --500: #2d2925;

  --accent: #f5a017;
  --discord: #7c86ff;
  --patreon: #ff8970;
  --free: #74ffb9;

  scroll-behavior: smooth;

  font-family: 'Neue Montreal', 'Roboto', 'Helvetica', sans-serif;
  color: var(--150);
  background: var(--500);
}

svg {
  color: var(--150);
}

input[type='text' i] {
  background: transparent;
  color: var(--150);
  padding: 0px 5px 0 10px;
  border: 2px solid var(--300);
  width: 78vw;
  height: 2.25rem;
}

input:focus-visible {
  outline-style: none;
  border-color: var(--100);
}

input::placeholder {
  color: var(--200);
}

button:hover,
button:active {
  cursor: pointer;
  filter: brightness(1.2);
}

button:active {
  transform: translateY(0.0625rem);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--400);
}

::-webkit-scrollbar-thumb {
  background: var(--200);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
}

/** Text Styles **/
h1 {
  font-size: 64px;
  font-weight: 700;
}

h2 {
  font-size: 48px;
  font-weight: 700;
}

h3 {
  font-size: 32px;
  font-weight: 700;
}

h4 {
  font-size: 24px;
  font-weight: 700;
}

h5 {
  font-size: 20px;
  font-weight: 700;
}

p {
  font-size: 18px;
  margin-block-start: 1.6px;
  margin-block-end: 1.6px;
}

a:hover {
  color: varvar(--accent);
}

*:-webkit-any-link {
  text-decoration: none;
}

nav .socials svg:hover,
footer svg:hover {
  color: var(--accent);
}

nav .socials svg:active,
footer svg:active {
  filter: brightness(1.2);
  transform: translateY(0.0625rem);
}

/** Navbar **/
nav {
  position: fixed;
  z-index: 3;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;

  min-height: 5%;
  width: 100%;

  background: #2c292577;
  color: var(--300);
  box-shadow: 0 4px 5px rgba(24, 20, 20, 0.1);
  backdrop-filter: blur(1px);
}

/* Navigation links for the site */
nav .links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

nav a {
  color: var(--100);
  font-weight: 400;
}

nav .links .landing a,
nav .links .socials svg {
  color: var(--100);
}

nav .links .landing a:hover {
  cursor: pointer;
  color: var(--000);
}

nav .links .landing a:active {
  color: var(--000);
  cursor: pointer;
  transform: translateY(0.0625rem);
}

/* Links for the home page */
nav .links .landing {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: center;
  align-items: center;

  padding-left: 16px;
}

/* Links to social media */
nav .socials {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  padding-right: 16px;
}

nav .socials svg {
  color: var(--100);
  padding: 2px;
}

nav .socials svg:hover {
  color: var(--000);
}

nav .socials svg:active {
  color: var(--000);
  transform: translateY(0.0625rem);
}

/** Header and Footer Sections **/
header.hero,
footer,
section.no-match {
  display: flex;
  position: relative;
  overflow: hidden;
  scroll-snap-type: y proximity;

  min-height: 100vh;

  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  align-self: center;
}

/* Header */
header.hero {
  background: rgba(20, 20, 20, 0.5);
  padding: 0;
}

header.hero h1 {
  color: var(--100);
  text-align: center;
  padding-top: 30vh;
}

header.hero svg {
  color: var(--150);
  margin-top: 30vh;
  animation: slide 3s ease-in-out infinite;
}

header.hero svg:hover {
  color: var(--accent);
}

#video-bg {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -5;
}

/* Golden Pages */
.golden {
  color: var(--500);
  background: var(--000);
}

footer main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

footer figure {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 20px;
}

footer h1 {
  color: var(--500);
}

footer main.header-wrapper,
footer main.header-wrapper h1,
footer main.header-wrapper h4 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

footer figure .skill-card {
  width: 179px;
  height: 52px;

  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-content: stretch;

  border: 3px solid var(--500);
}

footer figure .skill-card:hover {
  border-color: var(--400);
  color: var(--400);
  cursor: default;
}

footer figure .skill-card h4 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
}

footer main.links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
  gap: 1.875rem;
}

footer svg {
  color: var(--500);
}

footer svg:hover,
footer svg:active {
  color: var(--400);
}

/* Section / Middle Content */
section {
  min-height: 70vh;
  padding: 1.5625rem 0.9375rem 10.9375rem 0.9375rem;
  background: var(--500);
  scroll-snap-type: y proximity;
}

/* Modulelist Section */
section.module-list {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.module-list .searchbar {
  position: relative;
}

.module-list .searchbar button {
  position: absolute;
  right: 8px;
  height: 100%;
  border: 0.0625rem solid transparent;
  background: transparent;
}

.module-list .searchbar button:active {
  transform: translateY(0.0625rem);
}

.module-list .searchbar button svg {
  color: var(--100);
}

.module-list .searchbar .button-paid svg {
  color: var(--patreon);
}

.module-list .searchbar .button-free svg {
  color: var(--free);
}

.module-grid {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1.875rem;
  padding-top: 3rem;
  align-content: space-between;
  justify-content: center;
  align-items: center;
  justify-items: center;
  flex-direction: row;
}

/* Divs for the cards */
.module-card {
  position: relative;
  width: 480px;
  height: 176px;
  max-height: 176px;

  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: center;
  flex-direction: row;
  flex-wrap: nowrap;

  gap: 0.75rem;
  border: 0.125rem solid var(--300);
  box-shadow: 0.4375rem 0.4375rem var(--500),
    0.4375rem 0.4375rem 0 0.125rem var(--400);
}

.module-card:hover {
  border-color: var(--200);
}

.module-card .side-contents {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  min-width: 25%;
  max-width: 25%;
}

.module-card svg {
  padding: 30px;
  align-self: center;
  color: var(--100);
}

.module-card .card-contents {
  position: relative;
  width: 100%;
}

.module-card h4 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;

  padding-top: 20px;

  color: var(--100);
}

.module-card article {
  height: fit-content;
  padding-right: 1rem;
  overflow: hidden;
}

.module-card .paidea,
.module-card .paid,
.module-card .free {
  position: absolute;
  align-self: flex-end;
  bottom: 8px;
  right: 10.4px;
  width: 100%;

  margin-block-end: 0;
  margin-block-start: 0;
  padding: 0;

  text-align: right;
  font-size: 16px;
  font-weight: 500;
}

.module-card .paidea {
  color: var(--accent);
}

.module-card .paid {
  color: var(--patreon);
}

.module-card .free {
  color: var(--free);
}

/* Call to Action / Subscribe */
section.call-to-action {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: stretch;
  justify-content: center;
  gap: 152px;

  background-image: url('./assets/wave.svg');
  background-size: cover;
}

section.call-to-action .card {
  display: flex;
  padding: 0.75rem 1.625rem;
  min-height: 60vh;
  min-width: 20%;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;

  background: var(--500);
  border: 0.125rem solid var(--300);
  box-shadow: 0.4375rem 0.4375rem var(--500),
    0.4375rem 0.4375rem 0 0.125rem var(--400);
}

section.call-to-action .patreon:hover {
  cursor: default;
  border: 0.125rem solid var(--patreon);
  box-shadow: 0 0 0.1875rem var(--patreon), 0.4375rem 0.4375rem var(--500),
    0.4375rem 0.4375rem 0 0.125rem var(--400);
}

section.call-to-action .hub:hover {
  cursor: default;
  border: 0.125rem solid var(--accent);
  box-shadow: 0 0 0.1875rem var(--accent), 0.4375rem 0.4375rem var(--500),
    0.4375rem 0.4375rem 0 0.125rem var(--400);
}

section.call-to-action .discord:hover {
  cursor: default;
  border: 0.125rem solid var(--discord);
  box-shadow: 0 0 0.1875rem var(--discord), 0.4375rem 0.4375rem var(--500),
    0.4375rem 0.4375rem 0 0.125rem var(--400);
}

section.call-to-action summary {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

section.call-to-action summary ul {
  max-width: fit-content;
  align-self: flex-start;
  font-size: 20px;
  font-weight: 400;
}

section.call-to-action summary li {
  margin: 1.6px 0 17.6px 0;
}

section.call-to-action h2 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
  text-align: center;
  font-size: 48px;
}

section.call-to-action .patreon h2 {
  color: var(--patreon);
}

section.call-to-action .discord h2 {
  color: var(--discord);
}

section.call-to-action .hub h2 {
  color: var(--accent);
}

section.call-to-action h4 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: 550;
  text-align: center;
}

section.call-to-action button {
  color: var(--100);
  background: var(--500);
  border: 0.0625rem solid transparent;

  font-size: 16px;
  font-weight: bold;
  border-radius: 0.0625rem;

  width: 7.8125rem;
  height: 2.5rem;
  margin-bottom: 16px;
}

section.call-to-action .discord button {
  border: 0.125rem solid var(--discord);
}

section.call-to-action .discord button:hover {
  color: var(--500);
  background: var(--discord);
}

section.call-to-action .discord button:active {
  color: var(--500);
  background: var(--discord);
  filter: brightness(1.2);
  transform: translateY(0.125rem);
}

section.call-to-action .patreon button {
  border: 0.125rem solid var(--patreon);
}

section.call-to-action .patreon button:hover {
  color: var(--500);
  background: var(--patreon);
}

section.call-to-action .patreon button:active {
  color: var(--500);
  background: var(--patreon);
  filter: brightness(1.2);
  transform: translateY(0.125rem);
}

section.call-to-action .hub button {
  border: 0.125rem solid var(--accent);
}

section.call-to-action .hub button:hover {
  color: var(--500);
  background: var(--accent);
}

section.call-to-action .hub button:active {
  color: var(--500);
  background: var(--accent);
  filter: brightness(1.2);
  transform: translateY(0.125rem);
}

/** Subpages **/
/* Individual Modules */
section.module {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: flex-start;
}

section.module header {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-between;
    align-items: flex-start;
}


/* Installation */
.installation header.install-intro {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.installation header.install-intro h3 {
  margin-block-end: 0;
}

.installation header.install-intro h4 {
  margin-block-start: 0;
}

/* Media Queries */
/** Light Mode **/
@media (prefers-color-scheme: light) {
  /* Global */
  body {
    --accent: #d1a428;
    --discord: #4e5d94;
    --patreon: #dc664c;
    --free: #26ad69;
    color: var(--400);
    background: var(--100);
  }

  svg,
  .module-card svg {
    color: var(--400);
  }

  .module-card h4 {
    color: var(--400);
  }

  button:hover {
    filter: contrast(1.2);
  }

  /* Scrollbar */
  ::-webkit-scrollbar-track {
    background: var(--200);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--400);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--500);
  }

  /** Navigation **/
  nav .landing a,
  nav .socials svg {
    color: var(--100);
  }

  nav .landing a:hover,
  nav .socials svg:hover {
    color: var(--000);
  }

  section,
  section.call-to-action {
    background: var(--100);
  }

  /* Module List */
  .module-list .searchbar button svg {
    color: var(--400);
  }

  /* Cards */
  .module-card,
  section.call-to-action .card {
    background: var(--100);
    box-shadow: 0.4375rem 0.4375rem var(--100),
      0.4375rem 0.4375rem 0 0.125rem var(--200);
  }

  /* Call to Action */
  section.call-to-action {
    background-image: url('./assets/wave.svg');
    background-size: cover;
  }

  section.call-to-action .patreon:hover {
    box-shadow: 0 0 0rem var(--patreon), 0.4375rem 0.4375rem var(--100),
      0.4375rem 0.4375rem 0 0.125rem var(--200);
  }

  section.call-to-action .discord:hover {
    box-shadow: 0 0 0rem var(--discord), 0.4375rem 0.4375rem var(--100),
      0.4375rem 0.4375rem 0 0.125rem var(--200);
  }

  section.call-to-action .hub:hover {
    background: var(--100);
    box-shadow: 0 0 0rem var(--accent), 0.4375rem 0.4375rem var(--100),
      0.4375rem 0.4375rem 0 0.125rem var(--200);
  }

  /* Call to Action Buttons */
  section.call-to-action .card button {
    background: var(--100);
    color: var(--400);
  }

  section.call-to-action .card button {
    border-color: var(--400);
    box-shadow: 0.125rem 0.125rem 0 var(--400);
  }

  section.call-to-action .patreon button:hover {
    background-color: transparent;
    filter: contrast(1.2);
    border-color: var(--patreon);
    box-shadow: 0.125rem 0.125rem 0 var(--patreon);
  }

  section.call-to-action .discord button:hover {
    background-color: transparent;
    filter: brightness(1);
    border-color: var(--discord);
    box-shadow: 0.125rem 0.125rem 0 var(--discord);
  }

  section.call-to-action .hub button:hover {
    background-color: transparent;
    filter: brightness(1);
    border-color: var(--accent);
    box-shadow: 0.125rem 0.125rem 0 var(--accent);
  }

  section.call-to-action .patreon button:active {
    background-color: transparent;
    filter: brightness(1);
    box-shadow: 0.0625rem 0.0625rem 0 var(--patreon) inset;
  }

  section.call-to-action .discord button:active {
    background-color: transparent;
    filter: brightness(1);
    box-shadow: 0.0625rem 0.0625rem 0 var(--discord) inset;
  }

  section.call-to-action .hub button:active {
    background-color: transparent;
    filter: brightness(1);
    box-shadow: 0.0625rem 0.0625rem 0 var(--accent) inset;
  }

  footer {
    background: var(--000);
  }
}

/* Screen Sizing */
@media screen and (max-width: 62.5rem) {
  /* Align call to action cards correctly for smaller screens */
  section.call-to-action {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    gap: 152px;
    background-size: cover;
    align-content: center;
  }
}

/* Animation */
@keyframes slide {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 10px);
  }
}
