/** Global Styles **/
body {
  --000: #ffcb77;
  --100: #ede7d9;
  --150: #c8c5bf;
  --200: #a49694;
  --300: #6f6557;
  --400: #4b4237;
  --500: #2d2925;

  --accent: #ffcb77;
  --discord: #7c86ff;
  --patreon: #ff8970;
  --free: #74ffb9;

  font-family: 'Neue Montreal', 'Roboto', 'Helvetica', sans-serif;
  color: var(--100);
  background: var(--500);
}

svg {
  color: var(--150);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* Text Input */
input[type='text' i] {
  background: transparent;
  color: var(--150);
  padding: 0rem 0.3125rem 0 0.625rem;
  border: 0.125rem solid var(--300);
  width: 78vw;
  height: 36px;
  transition: all 0.3s ease-in-out;
}

input:focus-visible {
  outline-style: none;
  border-color: var(--100);
}

input::placeholder {
  color: var(--200);
}

button:hover,
button:active {
  cursor: pointer;
  filter: brightness(1.1);
}

button:active {
  transform: translateY(1px);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 0.3125rem;
}

::-webkit-scrollbar-track {
  background: var(--400);
}

::-webkit-scrollbar-thumb {
  background: var(--200);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
}

/** Text Styles **/
h0 {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 2.75rem;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 2.25rem;
  font-weight: 700;
}

h4 {
  font-size: 1.75rem;
  font-weight: 700;
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
}

h5 {
  font-size: 1.5rem;
  font-weight: 500;
}

p {
  font-size: 1.2rem;
  margin-block-start: 0.1rem;
  margin-block-end: 0.1rem;
}

li {
  font-size: 1.2rem;
  margin-block-start: 0.1rem;
  margin-block-end: 0.1rem;
  margin-bottom: 0.75rem;
}

strong {
  background: -webkit-linear-gradient(0deg, #ffd78a, #ff9659);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

/* Links and Buttons */
*:-webkit-any-link,
a:-webkit-any-link {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

svg:hover,
a:hover {
  color: var(--accent);
}

svg:active,
a:active {
  transform: translateY(1px);
}

summary {
  font-weight: bold;
}

/** Status Colours **/
.paidea {
  color: var(--accent);
}

.paid {
  color: var(--patreon);
}

.free {
  color: var(--free);
}

.paidea-border {
  border-color: var(--accent);
}

.paid-border {
  border-color: var(--patreon);
}

.free-border {
  border-color: var(--free);
}

.paidea-background {
  border-color: var(--accent);
  background: var(--accent);
}

.paid-background {
  border-color: var(--patreon);

  background: var(--patreon);
}

.free-background {
  border-color: var(--free);
  background: var(--free);
}

.github-background {
  background: var(--discord);
}

/* Golden Pages */
.golden {
  display: flex;
  color: var(--500);
  background: var(--000);
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;

  min-height: 75vh;
  padding: 192px 16px 16px 16px;
}

.golden a {
  color: var(--500);
}

.golden a:hover {
  color: var(--300);
  transition: all 0.3s ease-in-out;
}

/** Subpages **/
header.module-page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;

  height: 31.875rem;
  max-width: 25vw;
}

.badge {
  display: flex;
  background: transparent;
  align-self: end;
  padding: 8px;
  text-shadow: 0 0 20px var(--400);
}

footer.module-page-badge {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  align-self: center;
}

/* Subpage Globals */
.subpage-container {
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%234b4237' fill-opacity='0.32'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: repeat;
}

/** Light Mode **/
@media (prefers-color-scheme: light) {
  /* Global */
  body {
    --accent: hsl(44, 94%, 44%);
    --discord: hsl(227, 31%, 44%);
    --patreon: hsl(11, 67%, 58%);
    --free: hsl(150, 64%, 41%);
    color: var(--400);
    background: var(--100);
  }

  h1,
  h2,
  h3 {
    color: var(--500);
  }

  svg {
    color: var(--400);
  }

  strong {
    background: -webkit-linear-gradient(25deg, #d4572a, #ca9b0c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }

  button:hover {
    filter: contrast(1.2);
  }

  /* Scrollbar */
  ::-webkit-scrollbar-track {
    background: var(--200);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--400);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--500);
  }

  footer {
    background: var(--000);
  }

  .subpage-container {
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23a49694' fill-opacity='0.12'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: repeat;
  }
}

/* Animation */
@keyframes slide {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 0.625rem);
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
