/** Global Styles **/
body {
  --000: #ffcb77;
  --100: #ede7d9;
  --150: #c8c5bf;
  --200: #a49694;
  --300: #6f6557;
  --400: #4b4237;
  --500: #2d2925;

  --accent: #ffcb77;
  --discord: #7c86ff;
  --patreon: #ff8970;
  --free: #74ffb9;

  font-family: 'Neue Montreal', 'Roboto', 'Helvetica', sans-serif;
  color: var(--150);
  background: var(--500);
}

svg {
  color: var(--150);
}

/* Text Input */
input[type='text' i] {
  background: transparent;
  color: var(--150);
  padding: 0px 5px 0 10px;
  border: 2px solid var(--300);
  width: 78vw;
  height: 2.25rem;
  transition: all 0.3s ease-in-out;
}

input:focus-visible {
  outline-style: none;
  border-color: var(--100);
}

input::placeholder {
  color: var(--200);
}

button:hover,
button:active {
  cursor: pointer;
  filter: brightness(1.1);
}

button:active {
  transform: translateY(0.0625rem);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--400);
}

::-webkit-scrollbar-thumb {
  background: var(--200);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
}

/** Text Styles **/
h1 {
  font-size: 64px;
  font-weight: 700;
}

h2 {
  font-size: 48px;
  font-weight: 700;
}

h3 {
  font-size: 32px;
  font-weight: 700;
}

h4 {
  font-size: 24px;
  font-weight: 700;
}

h5 {
  font-size: 20px;
  font-weight: 700;
}

p {
  font-size: 18px;
  margin-block-start: 1.6px;
  margin-block-end: 1.6px;
}

*:-webkit-any-link,
a:-webkit-any-link {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

nav .socials svg:hover,
footer svg:hover {
  color: var(--accent);
}

nav .socials svg:active,
footer svg:active {
  filter: brightness(1.1);
  transform: translateY(0.0625rem);
}

/** Navbar **/
nav {
  position: fixed;
  z-index: 3;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;

  min-height: 5%;
  width: 100%;

  background: hsla(34, 9%, 16%, 0.25);
  color: var(--300);
  box-shadow: 0 5px 5px hsla(34, 11%, 12%, 0.25);
  backdrop-filter: blur(1px);
}

/* Navigation links for the site */
nav .links,
nav .links .landing,
nav .links .subpage {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

nav a {
  color: var(--100);
  font-weight: 400;
}

nav .links .landing a,
nav .links .socials svg {
  color: var(--100);
}

nav .links .landing a:hover {
  cursor: pointer;
  color: var(--000);
  transition: all 0.3s ease-in-out;
}

nav .links .landing a:active {
  color: var(--000);
  cursor: pointer;
  transform: translateY(0.0625rem);
}

/* A separator */
nav .space {
  margin: 0.5rem;
}

/* Links for the home page */
nav .links .landing {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: center;
  align-items: center;

  padding-left: 16px;
}

/* Links to social media */
nav .socials {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  padding-right: 16px;
}

nav .socials svg {
  color: var(--100);
  padding: 2px;
}

nav .socials svg:hover {
  color: var(--000);
}

nav .socials svg:active {
  color: var(--000);
  transform: translateY(0.0625rem);
}

/** Status Colours **/
.paidea {
  color: var(--accent);
}

.paid {
  color: var(--patreon);
}

.free {
  color: var(--free);
}

.paidea .background {
  color: var(--accent);
}

.paid .background {
  color: var(--patreon);
}

.free .background {
  color: var(--free);
}

/** Header and Footer Sections **/
header.hero {
  display: flex;
  position: relative;
  overflow: hidden;

  min-height: 100vh;

  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.golden .missing {
  display: flex;
  position: relative;
  overflow: hidden;

  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  align-self: center;
}

/* Header */
header.hero {
  background: rgba(19, 18, 18, 0.75);
  padding: 0;
}

header.hero h1 {
  color: var(--100);
  text-align: center;
  padding-top: 30vh;
}

header.hero svg {
  color: var(--150);
  margin-top: 30vh;
  animation: slide 3s ease-in-out infinite;
}

header.hero svg:hover {
  color: var(--accent);
}

#video-bg {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -5;
}

/* Golden Pages */
.golden {
  display: flex;
  color: var(--500);
  background: var(--000);
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;

  min-height: 75vh;
  padding: 12rem 1rem 1rem 1rem;
}

.golden a {
  color: var(--500);
}

.golden a:hover {
  color: var(--300);
  transition: all 0.3s ease-in-out;
}

#contact main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

#contact figure {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 20px;
}

#contact h1 {
  color: var(--500);
}

#contact main.header-wrapper,
#contact main.header-wrapper h1,
#contact main.header-wrapper h4 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

#contact figure .skill-card {
  width: 179px;
  height: 52px;

  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-content: stretch;

  border: 3px solid var(--500);
}

#contact figure .skill-card:hover {
  border-color: var(--400);
  color: var(--400);
  cursor: default;
}

#contact figure .skill-card h4 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
}

#contact main.links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
  gap: 1.875rem;
}

#contact svg {
  color: var(--500);
}

#contact svg:hover,
#contact svg:active {
  color: var(--400);
}

#credit {
  font-size: 0.9rem;
}

/* Sections / Main Content */
section {
  min-height: 70vh;
  padding: 10rem 0.9375rem 1rem 1rem;
  background: var(--500);
}

/* Modulelist Section */
section#modules {
  min-height: 100vh;
  display: flex;
  padding-top: 2rem;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(19, 18, 18, 0.75) 0%,
    #2d2925 10%,
    var(--500) 25%
  );
}

.searchbar {
  position: relative;
}

.searchbar button {
  position: absolute;
  right: 8px;
  height: 100%;
  border: 0.0625rem solid transparent;
  background: transparent;
}

.searchbar button:active {
  transform: translateY(0.0625rem);
}

.searchbar button svg {
  color: var(--100);
}

.searchbar .button-paid svg {
  color: var(--patreon);
}

.searchbar .button-free svg {
  color: var(--free);
}

.module .grid {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1.875rem;
  padding-top: 3rem;
  align-content: space-between;
  justify-content: center;
  align-items: center;
  justify-items: center;
  flex-direction: row;
}

/* Module Card */
.module .card {
  position: relative;
  width: 480px;
  height: 176px;
  max-height: 176px;

  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: center;
  flex-direction: row;
  flex-wrap: nowrap;

  gap: 0.75rem;
  border: 0.125rem solid var(--300);
  box-shadow: 0.4375rem 0.4375rem var(--500),
    0.4375rem 0.4375rem 0 0.125rem var(--400);
  transition: all 0.1s ease-in-out;
}

.module .card:hover {
  border-color: var(--200);
  cursor: pointer;
}

.module .card .icon-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  min-width: 25%;
  max-width: 25%;
}

.module .card svg {
  padding: 30px;
  align-self: center;
  color: var(--100);
}

.module .card .info-wrapper {
  position: relative;
  width: 100%;
}

.module .card h4 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;

  padding-top: 20px;

  color: var(--100);
}

.module .card article {
  height: fit-content;
  padding-right: 1rem;
  overflow: hidden;
}

.module .card .status {
  position: absolute;
  align-self: flex-end;
  bottom: 8px;
  right: 10.4px;
  width: 100%;

  margin-block-end: 0;
  margin-block-start: 0;
  padding: 0;

  text-align: right;
  font-size: 16px;
  font-weight: 500;
}

/* Call to Action / Subscribe */
section.cta {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: stretch;
  justify-content: center;
  gap: 152px;

  background-image: url('./assets/wave.svg');
  background-size: cover;
}

section.cta .card {
  display: flex;
  padding: 0.75rem 1.625rem;
  min-height: 60vh;
  min-width: 20%;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;

  background: var(--500);
  border: 0.125rem solid var(--300);
  box-shadow: 0.4375rem 0.4375rem var(--500),
    0.4375rem 0.4375rem 0 0.125rem var(--400);
  transition: all 0.3s ease-in-out;
}

section.cta .patreon:hover {
  cursor: default;
  border: 0.125rem solid var(--patreon);
  box-shadow: 0 0 0.1875rem var(--patreon), 0.4375rem 0.4375rem var(--500),
    0.4375rem 0.4375rem 0 0.125rem var(--400);
}

section.cta .hub:hover {
  cursor: default;
  border: 0.125rem solid var(--accent);
  box-shadow: 0 0 0.1875rem var(--accent), 0.4375rem 0.4375rem var(--500),
    0.4375rem 0.4375rem 0 0.125rem var(--400);
}

section.cta .discord:hover {
  cursor: default;
  border: 0.125rem solid var(--discord);
  box-shadow: 0 0 0.1875rem var(--discord), 0.4375rem 0.4375rem var(--500),
    0.4375rem 0.4375rem 0 0.125rem var(--400);
}

section.cta summary {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

section.cta summary ul {
  max-width: fit-content;
  align-self: flex-start;
  font-size: 20px;
  font-weight: 400;
  content: '-';
  padding-right: 10px;
}

section.cta summary li {
  margin: 1.6px 0 17.6px 0;
}

section.cta h2 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
  text-align: center;
  font-size: 48px;
}

section.cta .patreon h2,
section.cta .patreon summary li::marker {
  color: var(--patreon);
}

section.cta .discord h2,
section.cta .discord summary li::marker {
  color: var(--discord);
}

section.cta .hub h2,
section.cta .hub summary li::marker {
  color: var(--accent);
}

section.cta h4 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: 550;
  text-align: center;
}

section.cta button {
  color: var(--100);
  background: var(--500);
  border: 0.0625rem solid transparent;

  font-size: 16px;
  font-weight: bold;
  border-radius: 0.0625rem;

  width: 7.8125rem;
  height: 2.5rem;
  margin-bottom: 16px;

  transition: all 0.3s ease-in-out;
}

section.cta .discord button {
  border: 0.125rem solid var(--discord);
}

section.cta .discord button:hover {
  color: var(--500);
  background: var(--discord);
}

section.cta .discord button:active {
  color: var(--500);
  background: var(--discord);
  filter: brightness(1.1);
  transform: translateY(0.125rem);
}

section.cta .patreon button {
  border: 0.125rem solid var(--patreon);
}

section.cta .patreon button:hover {
  color: var(--500);
  background: var(--patreon);
}

section.cta .patreon button:active {
  color: var(--500);
  background: var(--patreon);
  filter: brightness(1.1);
  transform: translateY(0.125rem);
}

section.cta .hub button {
  border: 0.125rem solid var(--accent);
}

section.cta .hub button:hover {
  color: var(--500);
  background: var(--accent);
}

section.cta .hub button:active {
  color: var(--500);
  background: var(--accent);
  filter: brightness(1.1);
  transform: translateY(0.125rem);
}

#free-hub {
  background: -webkit-linear-gradient(0deg, #ffd78a, #ff9659);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

/** Subpages **/
/* Individual Modules */
section.module-page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  align-items: flex-start;
}

section.module-page main {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  width: 100%;

  flex-wrap: wrap;
  gap: 8rem;
}

section.module-page main h1 {
  margin-block-end: 0;
  margin-block-start: 0;
}

section.module-page main p {
  max-width: 66%;
  font-size: 1.25rem;
  line-height: 1.5;
}

section.module-page article {
  display: flex;
  border-right: 0.125rem solid var(--300);
  border-bottom: 0.125rem solid var(--300);
  border-left: 0.125rem solid var(--300);
  transition: all 0.3s ease-in-out;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

section.module-page article h1 {
  width: 100%;
  text-align: center;
  padding: 2px;

  color: var(--500);
  background: var(--000);
}

section.module-page article p {
  width: auto;
  text-align: justify;
  padding: 2rem;
}

header.module-page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;

  height: 510px;
  max-width: 25vw;
}

.badge {
  display: flex;
  background: transparent;
  align-self: end;
  padding: 0.5rem;
}

footer.module-page-badge {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  align-self: center;
}
/* Right-side Content of Module Subpages */
section.module-page aside {
  position: relative;
  width: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

section.module-page aside iframe {
  border: 2px solid transparent;
  width: 800px;
  height: 600px;
}

section.module-page article button {
  color: var(--500);
  background: var(--000);
  border: 1px solid transparent;

  font-size: 1rem;
  font-weight: bold;

  width: 7.8125rem;
  height: 2.5rem;
  margin: 0.5rem;

  transition: all 0.3s ease-in-out;
}

/* Installation */
.installation header.install-intro {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.installation header.install-intro h3 {
  margin-block-end: 0;
}

.installation header.install-intro h4 {
  margin-block-start: 0;
}

/* Media Queries */
/** Light Mode **/
@media (prefers-color-scheme: light) {
  /* Global */
  body {
    --accent: #d1a428;
    --discord: #4e5d94;
    --patreon: #dc664c;
    --free: #26ad69;
    color: var(--400);
    background: var(--100);
  }

  svg,
  .module .card svg {
    color: var(--400);
  }

  .module .card h4 {
    color: var(--400);
  }

  button:hover {
    filter: contrast(1.2);
  }

  /* Scrollbar */
  ::-webkit-scrollbar-track {
    background: var(--200);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--400);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--500);
  }

  /* Hero Banner */
  /** Navigation **/
  nav {
    background: hsla(0, 0%, 0%, 0.65);
  }

  nav .links .landing a,
  nav .links .subpage a,
  nav .links .socials svg {
    color: var(--100);
    transition: all 0.3s ease-in-out;
  }

  nav .links .landing a:hover,
  nav .links .subpage a:hover,
  nav .links .socials svg:hover {
    color: var(--200);
    transition: all 0.3s ease-in-out;
  }

  section,
  section.cta {
    background: var(--100);
  }

  /* Module List */
  .searchbar button svg {
    color: var(--400);
  }

  /* Cards */
  .module .card,
  section.cta .card {
    background: var(--100);
    box-shadow: 0.4375rem 0.4375rem var(--100),
      0.4375rem 0.4375rem 0 0.125rem var(--200);
    transition: all 0.3s ease-in-out;
  }

  /* Call to Action */
  section.cta {
    background-image: url('./assets/wave.svg');
    background-size: cover;
  }

  section.cta .patreon h2 {
    filter: drop-shadow(2px 2px 0px #eeafa1);
  }

  section.cta .hub h2 {
    filter: drop-shadow(2px 2px 0px #e9c359);
  }

  section.cta .discord h2 {
    filter: drop-shadow(2px 2px 0px #a1a9ee);
  }

  section.cta .patreon:hover {
    box-shadow: 0 0 0rem var(--patreon), 0.4375rem 0.4375rem var(--100),
      0.4375rem 0.4375rem 0 0.125rem var(--200);
  }

  section.cta .discord:hover {
    box-shadow: 0 0 0rem var(--discord), 0.4375rem 0.4375rem var(--100),
      0.4375rem 0.4375rem 0 0.125rem var(--200);
  }

  section.cta .hub:hover {
    background: var(--100);
    box-shadow: 0 0 0rem var(--accent), 0.4375rem 0.4375rem var(--100),
      0.4375rem 0.4375rem 0 0.125rem var(--200);
  }

  /* Call to Action Buttons */
  section.cta .card button {
    background: var(--100);
    color: var(--400);
  }

  section.cta .card button {
    border-color: var(--400);
    box-shadow: 0.125rem 0.125rem 0 var(--400);
  }

  section.cta .patreon button:hover {
    background-color: transparent;
    filter: contrast(1.2);
    border-color: var(--patreon);
    box-shadow: 0.125rem 0.125rem 0 var(--patreon);
  }

  section.cta .discord button:hover {
    background-color: transparent;
    filter: brightness(1);
    border-color: var(--discord);
    box-shadow: 0.125rem 0.125rem 0 var(--discord);
  }

  section.cta .hub button:hover {
    background-color: transparent;
    filter: brightness(1);
    border-color: var(--accent);
    box-shadow: 0.125rem 0.125rem 0 var(--accent);
  }

  section.cta .patreon button:active {
    background-color: transparent;
    filter: brightness(1);
    box-shadow: 0.0625rem 0.0625rem 0 var(--patreon) inset;
  }

  section.cta .discord button:active {
    background-color: transparent;
    filter: brightness(1);
    box-shadow: 0.0625rem 0.0625rem 0 var(--discord) inset;
  }

  section.cta .hub button:active {
    background-color: transparent;
    filter: brightness(1);
    box-shadow: 0.0625rem 0.0625rem 0 var(--accent) inset;
  }

  #free-hub {
    background: -webkit-linear-gradient(25deg, #f28367, #ff5282);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }

  footer {
    background: var(--000);
  }

  /* Subpages */
  /* Module Pages */
  section.module-page article {
    border-color: var(--500);
    color: var(--500);
  }
  section.module-page article h1 {
    background-color: var(--500);
    color: var(--100);
  }
}

/** Screen Sizing **/
/* Small Desktops and Tablets */
@media screen and (max-width: 850px) {
  /* Cards */
  section.cta {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    gap: 152px;
    background-size: cover;
    align-content: center;
  }

  .module .card {
    position: relative;
    width: 650px;
    height: auto;
    max-height: 176px;
    padding: 10px;

    gap: 0.75rem;
    border: 0.125rem solid var(--300);
    box-shadow: 0.4375rem 0.4375rem var(--500),
      0.4375rem 0.4375rem 0 0.125rem var(--400);
  }

  /* Sections */
  /* Mysterious Line Fix */
  .module .grid {
    margin-bottom: 0;
  }

  .cta {
    transform: translateY(-1px);
  }

  .golden {
    transform: translateY(-1px);
  }

  /* Subpages */
  header.module-page {
    max-width: 50vw;
  }

  section.module-page aside iframe {
    border: 2px solid transparent;
    width: 560px;
    height: 315px;
  }
}

/* Small Phones */
@media screen and (max-width: 450px) {
  /* Globals */
  h1 {
    font-size: 3rem;
  }

  /* Sections */
  header.hero {
    margin-block-start: 0;
  }

  header.hero h1 {
    padding-top: 0;
  }

  header.hero svg {
    padding-top: 0;
  }

  /* Cards */
  .module .card {
    position: relative;
    width: fit-content;
    height: auto;
    max-height: 176px;
    padding: 10px;

    gap: 0.75rem;
    border: 0.125rem solid var(--300);
    box-shadow: 0.4375rem 0.4375rem var(--500),
      0.4375rem 0.4375rem 0 0.125rem var(--400);
  }

  .module .card .icon-wrapper .fa-5x {
    font-size: 4rem;
  }

  .module .card h4 {
    font-size: 1.5rem;
    padding-top: 0;
  }

  .module .card article {
    padding-right: 0.5rem;
  }

  .module .card p {
    font-size: 0.9rem;
  }

  .module .card .status free {
    font-size: 0.8rem;
    bottom: 0;
    right: 0;
  }

  .module .card .status paid {
    font-size: 0.8rem;
    bottom: 0;
    right: 0;
  }

  .module .card .status paidea {
    font-size: 0.8rem;
    bottom: 0;
    right: 0;
  }

  /* Mysterious Line Fix */
  .golden {
    transform: translateY(-3px);
  }
}

/* Animation */
@keyframes slide {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 10px);
  }
}

.home-buttons {
  display: flex;
  align-items: center;
}
